html, body {
  height: 100%;
  width:100%;
  margin:0;
  padding:0;
  min-width: 700px;
  max-width:1920px;
}
body{
	background-image:url(../img/gray.jpg);
	color:black;
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#container{
	height:100%;
	position: relative;
	min-height:100%;
}

#header h1{
	margin:10px 0 10px 60px;
	color:black;
	border:black 1px dotted;
	border-left:black 10px solid;
	font-size:20px !important;
	padding:10px 20px;
}
#title{font-size:28px}
#header{
height:60px;
margin: 0 auto;
padding:0 0 ;
border:white 1px solid;
background-color:white;
}
#menu table tr td{
	padding:0.1%;
}
#main{
margin:5% auto;
padding:3% 0;
width:98%;

border:black 3px dotted;
background-color: rgba(255,255,255,0.5);
}
#menu{
	padding:0;
	margin:0;
	background-color:white;
}
.table{
width: 100%;
border-collapse: separate;

}
.table th{
width: 25%;
padding: 6px;
text-align: left;
vertical-align: top;
color: #333;
background-color: #eee;
border: 1px solid #b9b9b9;
}
.table td{
padding: 6px;
background-color: #fff;
border: 1px solid #b9b9b9;
}
img{
	width: 100%;
    height: auto;
}
#site_logo{
	height:60px;
	width:auto;
	margin:0 auto;
	float:left;
}
#site_logo:hover{
	-webkit-animation: spin 1.2s linear infinite;
    -moz-animation: spin 0.5s linear infinite;
    -ms-animation: spin 1.2s linear infinite;
    -o-animation: spin 0.5s linear infinite;
    animation: spin 5.0s linear ;
}
@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
	0% {-moz-transform: rotate(0deg);}
	100% {-moz-transform: rotate(360deg);}
}
@-ms-keyframes spin {
	0% {-ms-transform: rotate(0deg);}
	100% {-ms-transform: rotate(360deg);}
}
@-o-keyframes spin {
	0% {-o-transform: rotate(0deg);}
	100% {-o-transform: rotate(360deg);}
}
@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}
#site_logo:active{
	content:url(../img/minishiroanko.png);
}
div#footer-bk
{
	background-color: #2c163a;
	width:100%;
	height: 60px;            /* 縦の幅を120px */
	position: fixed;       /* 絶対位置指定することを定義 */
	bottom: 0px;              /* 絶対位置指定(左0px,下0px) */
	padding: 10px 0;          /* 上下に余白を取る */
}
/* フッターの表示領域 */
div#footer{
	height: 50px;          /* 縦幅の指定100px */
	width: 95%;           /* 横の幅970px */
	margin: auto;           /* 中央揃え */
	border:white 5px dotted;
}
#menu table{width:100%}
#menu table tr{width:100%}
#menu table tr td{margin 0 auto;
	width:25%;
}
#menu a{
text-decoration: none;
width:100%;
padding:0;
border:black 1px solid;
text-align:center;
display: inline-block;
margin:0  auto;
background-color:black;
color:white;
}
a{
	text-decoration:none;
}
a:visited{
	text-decoration:none;
}
h1 a:hover{
	text-decoration:none
}
#error{
	text-align:center;
	color:black;
	font-size:4em;
	}
#error h2{
	font-size:2em;
	color:red;

}
.button{
    font-size: 0.5em;
    font-weight: bold;
    padding: 2px 4px;
    background-color: rgba(0,0,0,0.9);
    color: #fff;
    border-style: none;
}
.piyo{
	margin:1%;
}